menu {
    background: @surface;
}

/* Accent buttons */
#custom-launcher,
#custom-power {
    background: @primary;
    color: @on_primary;
}

#custom-launcher:hover,
#custom-power:hover {
    background: @secondary;
    color: @on_secondary;
}

/* Media player */
#media {
    background: @secondary;
}

#custom-media-info,
#custom-media-prev,
#custom-media-play,
#custom-media-next {
    color: @on_secondary;
}

#custom-media-prev:hover,
#custom-media-play:hover,
#custom-media-next:hover {
    color: @primary_container;
    background: rgba(255, 255, 255, 0.1);
}

/* Workspaces */
#workspaces button {
    background: @surface_variant;
    color: @on_surface_variant;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
}

#workspaces button:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}

#workspaces button.visible,
#workspaces button.persistent {
    color: @on_primary;
}

#workspaces button.visible:hover,
#workspaces button.persistent:hover {
    color: @on_secondary_container;
}

/* Standard modules (Default state) */
#disk.root,
#disk.home,
#custom-minimize,
#custom-recorder,
#custom-brightness.off,
#bluetooth,
#pulseaudio,
#network,
#custom-mihomo,
#custom-battery,
#language,
#tray,
#clock {
    background: @surface_variant;
    color: @on_surface_variant;
}

/* Hovers for standard modules */
#custom-minimize:hover,
#custom-brightness:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#custom-mihomo:hover,
#custom-battery:hover,
#language:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}

/* Active states (Activation indication) */
#custom-brightness.on,
#custom-mihomo.connected,
#custom-battery.eco {
  background: @primary;
  color: @on_primary;
}

/* Audio states */
#pulseaudio.muted {
    background: @tertiary_container;
    color: @on_tertiary_container;
}

#pulseaudio.muted:hover {
    background: @tertiary;
    color: @on_tertiary;
}
