menu {
    background: transparent;
}

/* Accent buttons */
#custom-launcher,
#custom-power {
    background: transparent;
    color: @on_primary;
}

#custom-launcher:hover,
#custom-power:hover {
    background: transparent;
    color: @on_secondary;
}

/* Media player */
#media {
    background: transparent;
}

#custom-media-info,
#custom-media-prev,
#custom-media-play,
#custom-media-next {
    color: @on_secondary;
}

#custom-media-prev:hover,
#custom-media-play:hover,
#custom-media-next:hover {
    color: @primary_container;
    background: transparent;
}

/* Workspaces */
#workspaces button {
    background: transparent;
    color: @on_surface_variant;
}

#workspaces button.active {
    background: transparent;
    color: @on_primary;
}

#workspaces button:hover {
    background: transparent;
    color: @on_secondary_container;
}

#workspaces button.visible,
#workspaces button.persistent {
    color: @on_primary;
}

#workspaces button.visible:hover,
#workspaces button.persistent:hover {
    color: @on_secondary_container;
}

/* Standard modules (Default state) */
#disk.root,
#disk.home,
#custom-minimize,
#custom-recorder,
#custom-brightness,
#bluetooth,
#pulseaudio,
#network,
#battery,
#language,
#tray,
#clock {
    background: transparent;
    color: @on_surface_variant;
}

/* Hovers for standard modules */
#custom-minimize:hover,
#custom-brightness:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#language:hover {
    background: transparent;
    color: @on_secondary_container;
}

/* Active states (Activation indication) */
#custom-brightness.on {
    background: transparent;
    color: @on_secondary_container;
}

/* Audio states */
#pulseaudio.muted {
    background-color: transparent;
    color: @on_tertiary_container;
}

#pulseaudio.muted:hover {
    background: transparent;
    color: @on_tertiary;
}
