@define-color primary              #c7c7bc;
@define-color on_primary           #30312a;
@define-color primary_container    rgba(67, 68, 60, 0.8);
@define-color on_primary_container #dcdbd0;

@define-color secondary            #c8c6c1;
@define-color on_secondary         #31312d;
@define-color secondary_container  rgba(71, 71, 67, 0.7);
@define-color on_secondary_container #e2e0da;

@define-color tertiary             #c2c8c4;
@define-color on_tertiary          #2c322f;
@define-color tertiary_container   rgba(63, 69, 66, 0.7);
@define-color on_tertiary_container #d7dcd8;

@define-color surface              rgba(20, 19, 19, 0.85);
@define-color surface_variant      rgba(71, 71, 64, 0.8);
@define-color on_surface           #e5e2e0;
@define-color on_surface_variant   #c8c7be;

@define-color outline_variant      rgba(71, 71, 64, 0.6);

@define-color error                #ffb4ab;
@define-color error_container      rgba(147, 0, 10, 0.8);
@define-color on_error_container   #ffdad6;
